.popup {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px black;
    margin: 0 auto;
    padding: 20px 5px 0;
    position: static;
    margin-top: 10%;
    width: 400px;
    height:auto;
}

form, .form-actions{
    margin:0;
}

.main-content {
    margin-top:50px;
    background-color:#F7F7F7;
    padding:40px;
    border-radius:5px;
}

.tab-box{
    background:none;
}

.right-border:last-child {
    border-right: 1px solid #CCC !important;
}

.right-border {
    border-right: 3px solid #888 !important;
 
}


table {
    border: 1px solid #CCC !important;
    border-radius: 5px;
    width:100%;
    margin-bottom:10px;
}

table th, table td {
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC !important;
    border-right: 1px solid #CCC;
    padding:8px;
}

.call-vs {
    line-height: 14px;
    text-align: center ;
    vertical-align: middle;
}
.call-vs>b {
    font-size: smaller;
}