{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% load bootstrap_toolkit %}
{% block subtitle %}
Статистика турнира
{% endblock subtitle %}

{% block content-inner %}
<h1> Статистика турнира "{{turnir.title}}" </h1>

<div class="tab-box">
  <ul id="tabs" class="nav nav-tabs">
    <li class="active"><a href="#participants" data-toggle="tab">Список участников</a></li>
    <li><a href="#tur-table" data-toggle="tab">Турнирная таблица</a></li>
  </ul>

  <div class="tab-content"> 
    <div id="participants" class="active tab-pane">
      {% for p in turnir.participant_set.all%}
      {{p}} <br/>
      {% endfor %}

      <a class="btn btn-primary" href="{% url add-participant turnir.id %}">Добавить участника</a>
    </div>
    <div id="tur-table" class="tab-pane">
      {% if turnir.raund_set.count %}
      <table class="table table-hover">
	<thead>
	  <tr>
	    {% for r in turnir.raund_set.all %}
	    <th>{{r}}</th>
	    <th>Победитель</th>
	    {% endfor %}
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	  </tr>
	</tbody>
      </table>
      {% endif %}
      <a class="btn btn-primary" href="{% url generate-table turnir.id %}">Генерировать турнирную таблицу</a>
    </div>
  </div>
</div>

{% endblock content-inner %}
