{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% load bootstrap_toolkit %}
{% block subtitle %}
Статистика турнира
{% endblock subtitle %}

{% block content-inner %}
<h1> Статистика турнира "{{turnir.title}}" </h1>

<div class="tab-box">
  <ul id="tabs" class="nav nav-tabs">
    <li {% if tab == 'participants' %}class="active"{% endif %}><a href="#participants" data-toggle="tab">Список участников</a></li>
    <li {% if tab == 'table' %}class="active"{% endif %}><a href="#tur-table" data-toggle="tab">Турнирная таблица</a></li>
  </ul>

  <div class="tab-content"> 
    <div id="participants" class="{% if tab == 'participants' %}active{% endif %} tab-pane">
      {% if turnir.participant_set.count %}
      <table class="">
	<thead>
	  <tr>
	    <th>Участник</th>
	    <th>Рейтинг OLE</th>
	  </tr>
	</thead>
	<tbody>
	  {% for p in turnir.participant_set.all%}
	  <tr>
	    <td>{{p.first_name}} {{p.last_name}}</td>
	    <td>{{p.rating}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}
      {% if turnir.game_set.count == 0 and user.account.role == 's' %}
      <a class="btn btn-primary" href="{% url add-participant turnir.id %}">Добавить участника</a>
      <a class="btn btn-primary" href="{% url rand-parts turnir.id %}">Генерировать случайных участников</a>
      {% endif %}
    </div>
    <div id="tur-table" class="{% if tab == 'table' %}active{% endif %} tab-pane">
      {% if turnir.raund_set.count %}
      <form method="POST" action="{% url save-raund turnir.id %}">
	{% csrf_token %}
	<table class="">
	  <thead>
	    <tr>
	      {% for r in turnir.raund_set.all %}
	      <th>{{r}}</th>
	      <th class="right-border">
		Победитель
		{% if r.number == turnir.cur_raund_id %}
		<button class="label label-important" title="Выбранные ниже победители будут сохранены. После чего сформируются игры следующего тура."> Сохранить </button>
		{% endif %}
	      </th>
	      {% endfor %}
	    </tr>
	</thead>
	  <tbody>
	    {{turnir.render_table|safe}}
	  </tbody>
	</table>
      </form>
      {% else %}
      <a class="btn btn-primary" href="{% url generate-table turnir.id %}">Генерировать турнирную таблицу</a>
      {% endif %}

      {% if turnir.raund_set.count < turnir.cur_raund_id %}
      <h2>Финальные результаты</h2>
      <table class="table table-hover">
	<thead>
	  <tr>
	    <th>Место</th>
	    <th>Участник</th>
	    <th>Количество очков</th>
	  </tr>
	</thead>
	<tbody>
	  {% for p in final %}
	  <tr>
	    <td>{{p.position}}</td>
	    <td>{{p}}</td>
	    <td>{{p.points}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content-inner %}
