<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Шахматный турнир | 
      {% block subtitle %}
      Главная страница
      {% endblock subtitle %}
    </title>    
    <link type="image/png" rel="icon" href="/static/img/favicon.png"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/my.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </head>

  <body>

    {% block content %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="http://wargaming.net" target="blank">Wargaming</a>
	  <ul class="main-menu nav pull-right">
	    <li class="active"><a href="{% url home %}">Главная страница</a></li>
	    <li class="active"><a href="{% url list-turnirs %}">Турниры</a></li>
	    {% if user.is_authenticated %}
	    <li class="dropdown">
	      <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{user.email}} <b class="caret"></b></a>
	      <ul class="dropdown-menu">
		{% if user.is_staff %}
		<li><a href="/admin/">Aдминистрирование</a></li>
		{% endif %}
                <li class="divider"></li>
                <li><a href="{% url logout %}">Выход</a></li>
              </ul>
	    </li>
	    {% else %}
	    <li><a href="{% url login %}">Вход</a></li>
	    {% endif %}

	  </ul>
	</div>
      </div>
    </div>
    <div class="container main-content">
      {% block content-inner %}
      <h1 style="text-align:center">Тестовое задание на позицию<br/>
	<b>Python Developer</b>
      </h1>
      <h2>Постановка задачи:</h2>
      <p class="pln">Представьте, что вы принимаете участие в разработке приложения «Проведение турнира по шахматам по швейцарской системе.» При этом ваша задача - подготовить интерфейс для судьи, по всем этапам проведения:</p>
      <ol>
	<li>
	  Ввод списка участников, с указанием их ELO рейтинга
	</li>
	<li>
	  Вывод текущего прогресса турнира/финальные результаты.
	</li>
	<li>
	  Расчёт следующего тура, по правилам швейцарской системы.
	</li>
	<li>
	  Ввод результатов партий судьёй (победа=1, ничья=0.5, поражение=0).
	</li>
	<li>
	  Все кроме судьи не должны иметь права что-то вводить, тока просматривать.
	</li>
	<li>
	  Перерасчет рейтинга ELO на основании результатов турнира.
	</li>
      </ol>    
      <h2>Реализация задачи:</h2>
      <h3><i>Компоненты:</i></h3>
      <p>Для реализации задачи были использованы следующие компоненты:</p>
      <ul>
	<li><a href="https://www.djangoproject.com/">Django 1.3.1</a> для реализации серверной части.
	  <ul>
	    <li><a href="https://github.com/dyve/django-bootstrap-toolkit">bootstrap_toolkit</a> для рендеринга форм django.</li>
	  </ul>
	</li>
	<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a> Для быстрого и качественного(но первоначального) оформления web-интерфейса</li>
	<li>Первоначально в качестве бд использовался sqlite <b>(__EDIT__)</b></li>
      </ul>
      <h3><i>Реализованный функционал:</i></h3>
      <p>Расширены настройки стандартной модели User из django.contrib.auth с целью введения ролей пользователя. Для содания пользователя с ролью судьи необходимо создать аккаунт через административную панель, выставить ему соответствующую роль и связать с существующим пользователем(связь: 1<->1)</p>
      <p>Если у аккаунта выставлена роль судьи, ему предоставляется функционал:</p>
      <ul>
	<li>Создать турнир.</li>
	<li>Добавить участников турнира.</li>
	<li>Сгенерировать таблицу турнира.</li>
	<li>Подведение итогов тура и генерация игр следующего тура. По истечению всех туров подсчет мест участников и пересчет рейтинга.</li>
      </ul>

      <h3><i>Необходимо реализовать.</i></h3>
      <ul>
	<li>Проверку повторных партий для следующего тура.</li>
	<li>Сортировку по сумме набранных очков противников, с лучае равного количество очков по итогу турнира<span style="color:green">(реализовано)</span>.</li>
	<pre>Реализовано по средством связи многие ко многим таблицы участников к самой себе. По ходу проведения турнира для каждого участника ведется "список" его соперников. По итогу по каждому участнику суммируем очки соперника. Действие производится на уровне БД.</pre>
	<li>Пересчет OLE рейтинга игроков по окончанию турнира<span style="color:green">(реализовано)</span>.</li>
	<li>В случае отсутствия прав на выполнение операции перенаправлять на страницу с соответствующе информацией и предлагать зайти в систему снова.</li>
      </ul>
      {% endblock content-inner %}
    </div>
    {% endblock content %}
  </body>
</html>
